<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- 기본 설정 -->
        <add key="DefaultUsername" value="admin" />
        <add key="DemoModeEnabled" value="false" />
        <add key="DemoModeAutoStart" value="false" />
        
        <!-- UI 설정 -->
        <add key="MaxLogEntries" value="200" />
        <add key="MaxFoupCapacity" value="5" />
        
        <!-- 타이머 설정 -->
        <add key="SimulationTickMilliseconds" value="1000" />
        <add key="HardwareModeTickMilliseconds" value="150" />
        <add key="ChamberSecondsPerTick" value="1.0" />
        
        <!-- TM (Transfer Module) 설정 -->
        <add key="TmPickupDurationTicks" value="3" />
        <add key="TmPickupRetractTicks" value="2" />
        <add key="TmDropoffDurationTicks" value="3" />
        <add key="TmDropoffRetractTicks" value="2" />
        <add key="TmMoveShortTicks" value="3" />
        <add key="TmMoveMediumTicks" value="5" />
        <add key="TmMoveLongTicks" value="8" />
        <add key="TmDoorActionTicks" value="2" />
        <add key="DoorOpenWaitTicks" value="4" />
        <add key="DoorCloseWaitTicks" value="4" />
        
        <!-- 서보모터 파라미터 설정 -->
        <add key="ServoDefaultVelocity" value="1000000" />
        <add key="ServoDefaultMaxVelocity" value="1000000" />
        <add key="ServoDefaultDeceleration" value="100000000" />
        <add key="ServoDefaultAcceleration" value="1000000" />
        <add key="ServoHomingVelocity" value="300000" />
        <add key="ServoHomingMaxVelocity" value="500000" />
        <add key="ServoXyMoveTimeoutMs" value="5000" />
        <add key="ServoMoveMinWaitMs" value="500" />
        <add key="ServoAxis1MinWaitMs" value="300" />
        
        <!-- 알람 임계값 기본 설정 -->
        <add key="AlarmTempWarn" value="2.0" />
        <add key="AlarmTempAlarm" value="5.0" />
        <add key="AlarmPressWarnRatio" value="0.2" />
        <add key="AlarmPressAlarmRatio" value="0.5" />
        <add key="AlarmPressWarnAbs" value="3.0" />
        <add key="AlarmPressAlarmAbs" value="10.0" />
        
        <!-- UI 색상 설정 -->
        <add key="FoupPanelLoadingColor" value="180,220,180" />
        <add key="FoupPanelUnloadingColor" value="180,200,230" />
        <add key="FoupPanelAlertColor" value="255,220,180" />
        <add key="DialogBackgroundColor" value="250,250,255" />
        <add key="TextColor" value="40,40,40" />
        <add key="SuccessColor" value="76,175,80" />
        <add key="PanelBackgroundColor" value="220,220,225" />
        <add key="DefaultBackgroundColor" value="245,245,250" />
        <add key="SeparatorLineColor" value="200,200,210" />
        <add key="WaferBrushColor" value="180,0,0,205" />
        <add key="WaferPenColor" value="150,0,0,205" />
        <add key="BorderColor" value="220,220,230" />
        <add key="WaferColorEarlyProcess" value="210,230,255" />
        <add key="WaferColorLateProcess" value="210,190,255" />
        <add key="LampRedBright" value="210,60,50" />
        <add key="LampYellowBright" value="230,190,40" />
        <add key="LampGreenBright" value="55,180,90" />
        <add key="LampRedDark" value="50,15,12" />
        <add key="LampYellowDark" value="60,50,15" />
        <add key="LampGreenDark" value="20,60,30" />
        <add key="AlarmRfWarnRatio" value="0.10" />
        <add key="AlarmRfAlarmRatio" value="0.20" />
        <add key="AlarmGasWarn" value="5.0" />
        <add key="AlarmGasAlarm" value="10.0" />
        <add key="AlarmGasLeakWarn" value="1.0" />
        <add key="AlarmGasLeakAlarm" value="3.0" />
        
        <!-- 하드웨어 타임아웃 설정 -->
        <add key="TmHardwareActionTimeoutMs" value="30000" />
        <add key="CylinderActionTimeoutMs" value="5000" />
        <add key="ServoMoveTimeoutMs" value="5000" />
        <add key="ServoSettleDelayMs" value="50" />
        <add key="CylinderSettleDelayMs" value="50" />
        <add key="VacuumOnSettleDelayMs" value="100" />
        <add key="VacuumOffSettleDelayMs" value="100" />
        <add key="DoorSettleDelayMs" value="30" />
        
        <!-- 하드웨어 폴링 주기 설정 (밀리초) -->
        <add key="HardwarePollingIntervalMs" value="30" />
        <add key="ServoInitDelayMs" value="100" />
        <add key="ServoOnDelayMs" value="200" />
        <add key="HomingPollingIntervalMs" value="100" />
    </appSettings>
</configuration>